@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");

:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;

  --themeDotBorder: #24292e;

  --previewBg: rgba(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;

  --btnColor: black;

  --shadowColor: rgba(0, 0, 0, 0.75);
}

html,
body {
  padding: 0;
  margin: 0;
  /* scrollbar-width: none; 
  -ms-overflow-style: none; */
}

body * {
  transition: 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--mainText);
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
  color: #17a2b8;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.greeting-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;

  -webkit-box-shadow: -1px 1px 3px -1px var(--shadowColor);
  -moz-box-shadow: -1px 1px 3px -1px var(--shadowColor);
  box-shadow: -1px 1px 3px -1px var(--shadowColor);

  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 3em 30em; */
  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-column right-column";
}

.nav-wrapper {
  border-radius: 5px 5px 0 0;
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navigation a {
  color: var(--mainText);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

#navigation {
  margin: 0;
  padding: 10px;
}

#navigation li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.dots-wrapper {
  display: flex;
  padding: 10px;
}

#dot1 {
  background-color: #fc6056;
}

#dot2 {
  background-color: #fec02f;
}

#dot3 {
  background-color: #2aca3b;
}

.browser-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;

  margin: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px var(--shadowColor);
  -moz-box-shadow: -1px 1px 3px -1px var(--shadowColor);
  box-shadow: -1px 1px 3px -1px var(--shadowColor);
}

/* Styling under left column */

.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}

#profile_pic {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
}

#theme-options-wrapper {
  display: flex;
  justify-content: center;
}

.theme-dot {
  height: 30px;
  width: 30px;
  background-color: black;

  border-radius: 50%;
  border: 2px solid var(--themeDotBorder);

  margin: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px var(--shadowColor);
  -moz-box-shadow: -1px 1px 3px -1px var(--shadowColor);
  box-shadow: -1px 1px 3px -1px var(--shadowColor);

  cursor: pointer;
}

.theme-dot:hover {
  border-width: 5px;
}

#light-mode {
  background-color: #fff;
}

#blue-mode {
  background-color: #192734;
}

#green-mode {
  background-color: #78866b;
}

#purple-mode {
  background-color: #7e4c74;
}

#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;

  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
}

#preview-shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}

#preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: var(--previewBg);
  padding: 15px;
  position: relative;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}

.about-wrapper {
  display: grid;

  /* important */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-bottom: 50px;
  padding-top: 50px;
  gap: 100px;
}

#skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
}

#skills>ul {
  padding: 0;
  letter-spacing: 0.5px;
  /* font-size: 14px; */
}

#skills>ul>li {
  margin-bottom: 8px;
}

#skills>ul>li>span {
  font-weight: 600;

}

.social-links {
  display: grid;
  align-content: center;
  text-align: center;
}

.social-links>a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
  font-size: 14px;
  font-weight: 400;
  
  text-decoration: none;
  color: #fff;
}
.social-links>a>img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#social_img {
  width: 100%;
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.post {
  border: 1px solid var(--borderColor);

  -webkit-box-shadow: -2px 7px 21px -9px var(--shadowColor);
  -moz-box-shadow: -2px 7px 21px -9px var(--shadowColor);
  box-shadow: -2px 7px 21px -9px var(--shadowColor);
}

.Thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.post-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 30px;
  height: 8em;
}

.post-title {
  color: black;
  margin: 0;
}

.post-intro {
  color: #4b5156;
  font-size: 14px;
}

#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1 px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
  margin-bottom: 50px;
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
}

#submit-btn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: var(--btnColor);
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-wrapper"
      "left-column"
      "right-column";
  }

  .right-column {
    justify-content: center;
  }
}